# OLD
# opencv-python>=4.8.0
# numpy>=1.24.0
# picamera2>=0.3.12
# ===================== COMMON (pc server version) =====================
# Management of Picamera2 compatibility (requires NumPy 1.x)
numpy<2.0.0
# OpenCV locked to version 4.9 to avoid requiring NumPy 2.x
opencv-python<4.10.0.0
# Camera library specific for Raspberry Pi OS
picamera2>=0.3.0

# ===================== STANDALONE VERSION =====================
#dlib>=19.24.0 OLD
#scipy>=1.10.0 OLD
mediapipe
scipy